@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: redHatLight, sans-serif;
}

input {
  outline-color: #48ba86;
  outline-width: 3px;
}

.loading {
  color: #333;
  position: relative;
}

.loading span {
  position: absolute;
  display: inline-block;
  animation-name: loading;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
}

.loading span:nth-child(1) {
  animation-delay: .6s;
}

.loading span:nth-child(2) {
  animation-delay: 2s;
}

.loading span:nth-child(3) {
  animation-delay: 3.4s;
}

.line {
  width: 150px;
  height: 3px;
  background-color: #48ba86;
  transform: translateY(30px);
}

.line:before {
  content: 'Loading...';
  font-family: redHatLight, sans-serif;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  bottom: -30px;
  left: 0;
  color: #fff;
  letter-spacing: 3px;
  animation: before 2s linear infinite;
}

@keyframes before {
  50% {
    opacity: 0.1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(-50px) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: translateX(100px) rotate(10deg);
  }

  100% {
    opacity: 0;
    transform: translateX(150px) translateY(100px) rotate(1260deg);
  }
}

.username:hover {
  color: #48ba86;
}

.text-middle {
  height: 3rem;
  line-height: 3rem;
}

.bg-primary {
  background-color: #111;
}

.bg-secondary {
  background-color: #222;
}

.bg-faded {
  background-color: #333;
}

.section-header {
  font-family: redHatBold, sans-serif;
}

.song-title {
  font-family: redHatMedium, sans-serif;
}

.text-faded {
  color: #6f6f6f;
}

.text-contrast {
  color: #48ba86;
}

.bg-contrast {
  background-color: #48ba86;
}

.h-screen-60 {
  max-height: 60vh;
}

.width-inherit {
  width: inherit;
}

.bg-lighter-primary {
  background-color: #222;
}

.border-lighter-primary {
  border-color: #222;
}

#root {
  height: 100%;
  overflow: auto;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 50px auto 0;
}

#circuleExtern {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #111;
  position: relative;
  margin: 20px auto 0;
  animation: scales 0.9s ease-in infinite alternate;
}

#circuleMedium {
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 70px;
  background: #48ba86;
  position: absolute;
  animation: scales 0.8s ease-out infinite alternate;
}

#circuleCenter {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50px;
  background: #111;
  position: absolute;
  animation: scales 1.2s ease-in-out infinite alternate;
}

@keyframes scales {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.1);
  }
}


@font-face {
  font-family: redHatLight;
  src: url('./fonts/red-hat.text.ttf');
}

@font-face {
  font-family: redHatDisplay;
  src: url('./fonts/red-hat.display.ttf');
}

@font-face {
  font-family: redHatMedium;
  src: url('./fonts/red-hat.display-medium.ttf');
}

@font-face {
  font-family: redHatBold;
  src: url('./fonts/red-hat.display-bold.ttf');
}

@media only screen and (max-width: 870px) {
  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}